.div-1{
    width: 700px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(244, 244, 244);
    padding: 20px;
}
.div-2{
    width: 700px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 237, 237);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
code{
    color: brown;
}
.tag{
   font-size: small; 
}
.tags{
    color:rgba(62, 129, 107, 0.723);
    background-color: rgb(202, 234, 222);
}
.cs{
    background-color: rgb(210, 210, 210);
}
.black{
    color: black;
}